@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color:antiquewhite;
    font-family: "Inter", sans-serif;
}

nav{
    font-family: "Play-fair Display", serif;
    font-weight: 500;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    border-bottom: 4px solid red;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 22px;
    display: block;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: white;
    height: 3px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}

section{
    padding: 70px 0;
}

.container .title{
    font-size: 50px;
    color: rgb(77, 55, 1);
    padding-left: 75px;
}

.container .subtitle{
    font-size: 40px;
    color: rgb(77, 55, 1);
    padding-left: 75px;
    padding-bottom: 55px;
}

.container .informations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
}

.container .name-joao{
    padding-top: 70px;
}

.container .name-stefany{
    padding-top: 35px;
}

.container .members p{
    font-family: "Play-fair Display", serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.5em;;
    color: rgb(81, 45, 31);
    text-align: justify;
    width: 726px;
    padding-right: 75px;
    padding-left: 75px;
}

.container .members h1{
    font-size: 30px;
    color: rgb(98, 71, 1);
    padding-bottom: 20px;
    padding-left: 75px;
}

footer{

    text-align: center;
    background-color: green;
    border-top: 4px solid red;
    padding: 30px 0px;
}

footer p{
    text-align: center;
    color: white;
}